# -*- mode: yaml; -*-
# vim ft=yaml
sudo: false
language: c
compiler: gcc
matrix:
    env:
        - CFLAGS="-g -O2 -Werror"
        - CFLAGS="-g -O2 -fsanitize=address -fno-omit-frame-pointer"
          ASAN_OPTIONS=verbosity=2:malloc_context_size=20:quarantine_size_mb=512:print_stats=1:atexit=1
          LDFLAGS="-fsanitize=address"
        - CFLAGS="-g -O2 -fsanitize=undefined -fno-omit-frame-pointer"
          LDFLAGS="-fsanitize=undefined"
script: 
    - curl --remote-name 'http://pkgs.fedoraproject.org/repo/pkgs/astyle/astyle_2.05_linux.tar.gz/3806526408bb08db795f0d4d35ef48e5/astyle_2.05_linux.tar.gz'
        && tar xf astyle_2.05.1_linux.tar.gz
        && ( cd astyle/build/gcc && make )
    -  PATH=astyle/build/gcc/bin:${PATH} ./autogen.sh 
        && ./configure 
#       && make check-syntax 
        && make check
